@{
    ViewBag.Title = "Home Page";
}

<div class="pl-table">
    <h1>Standings</h1>
    <h2 id="PL"></h2>
    <p id="lastUpdated"></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Club</th>
                <th scope="col">MP</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">Pts</th>
            </tr>
        </thead>
        <tbody id="standingsBody"></tbody>
    </table>
</div>

<script>
    $.ajax({
        headers: { 'X-Auth-Token': '89b1396c62ff41119cabd0a504ec09bf' },
        url: "http://api.football-data.org/v2/competitions/PL/standings?standingType=TOTAL",
        dataType: 'json',
        type: 'GET',
    }).done(function (response) {
        // do something with the response, e.g. isolate the id of a linked resource
        console.log(response);
        var plName = document.querySelector("#PL");
        plName.textContent = response.competition.name;
        var lastUpdate = document.querySelector("#lastUpdated");
        lastUpdate.textContent = "Last Updated : " + response.competition.lastUpdated;

        var standingsArray = jQuery.makeArray(response.standings[0].table);
        var tBody = document.querySelector("#standingsBody");

        standingsArray.forEach(function (table) {
            var tr = document.createElement("tr");
            if (table.position == 1) {
                tr.classList.add("tr-leader");
            }
            if (table.position == 2 || table.position == 3 || table.position == 4) {
                tr.classList.add("tr-champions-league");
            }
            if (table.position == 5) {
                tr.classList.add("tr-europa-league");
            }
            if (table.position == 18 || table.position == 19 || table.position == 20) {
                tr.classList.add("tr-relegation");
            }
            var tdClub = document.createElement("td");
            var logoSpan = document.createElement("span");
            var clubNameSpan = document.createElement("span");
            clubNameSpan.textContent = table.team.name;
            clubNameSpan.style.paddingLeft = "10px";
            var imageLogo = document.createElement("img");
            imageLogo.src = table.team.crestUrl;
            imageLogo.style.width = "25px";
            imageLogo.style.height = "25px";

            logoSpan.appendChild(imageLogo);
            tdClub.appendChild(logoSpan);
            tdClub.appendChild(clubNameSpan);

            var tdPoints = document.createElement("td");
            tdPoints.classList.add("td-points");
            var tdGamesPlayed = document.createElement("td");
            var tdWins = document.createElement("td");
            var tdDraws = document.createElement("td");
            var tdLosses = document.createElement("td");
            var tdPosition = document.createElement("td");


 
            tdPoints.textContent = table.points;
            tdGamesPlayed.textContent = table.playedGames;
            tdWins.textContent = table.won;
            tdDraws.textContent = table.draw;
            tdLosses.textContent = table.lost;
            tdPosition.textContent = table.position;

            tr.appendChild(tdPosition);
            tr.appendChild(tdClub);
            tr.appendChild(tdGamesPlayed);
            tr.appendChild(tdWins);
            tr.appendChild(tdDraws);
            tr.appendChild(tdLosses);
            tr.appendChild(tdPoints);
            
            tBody.appendChild(tr);
        });
    });
</script>

