@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
html {
    width:100%;
}
body {
    /*background-color: whitesmoke !important;*/
    color: black !important;
    margin:0 auto !important;
    width: 100%;
}


main {
    width: 60%;
    margin:20px;
    margin:0 auto;
}
#mainNav {
    /*background-color: #3fa46a !important;
    border: 2px black solid;
    font-family: Raleway !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}

.navbar {
 
}

.nav-item {
    padding-right:20px;
}
.nav-link {
    color: white !important;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    /*transition: 0.3s ease !important;
    background: #3fa46a !important;
    color: #ffffff !important;
    font-size: 20px !important;
    text-decoration: none !important;
    border-top: 4px solid #3fa46a !important;
    border-bottom: 4px solid #3fa46a !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;*/
}

    .nav-link,
    .nav-link:after,
    .nav-link:before{
        transition: all .5s !important;
    }
    .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }

    .nav-link:hover:after {
        width: 100%;
    }
.nav-link:hover {
    /*border-top: 4px solid #ffffff !important;
    border-bottom: 4px solid #ffffff !important;
    padding: 6px 0 !important;*/
}

.pl-table .table{
    width:70% !important;
    margin:0 auto;
}

#scoreResult {
    color: rgb(67, 177, 42);
}

.table td, .table th {
    vertical-align: auto !important;
    padding:.5rem !important;
}

.td-points {
    font-weight:bold;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
    color: #666;
    font-size:80%;
    font-weight:600;
}

.tr-leader {
    background-color: #e4e4e4;
}

.tr-champions-league {
    background-color:#eee;
}

.tr-europa-league {
    background-color: #f8f8f8;
}

.tr-relegation {
    background-color: #eee;
}

.table-header {
    display:flex;
    align-items:center;
    margin-top:20px;
    margin-bottom:20px;





















































}

#PL {
    font-size:125%;
    font-family:'Raleway';
}

.pl-logo {
    width:40px;
    margin-right:15px;
}