@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    /*background-color: whitesmoke !important;*/
    color:black !important;
}

#mainNav {
    /*background-color: #3fa46a !important;*/
    border: 2px black solid;
    font-family: Raleway !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav-link {
    transition: 0.3s ease !important;
    /*background: #3fa46a !important;*/
    color: #ffffff !important;
    font-size: 20px !important;
    text-decoration: none !important;
    border-top: 4px solid #3fa46a !important;
    border-bottom: 4px solid #3fa46a !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;
}

.nav-link:hover {
    border-top: 4px solid #ffffff !important;
    border-bottom: 4px solid #ffffff !important;
    padding: 6px 0 !important;
}

.jumbotron {
    color: black;
    background-color: white !important;
    /*border-radius: 0 !important;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;*/
}

#scoreResult {
    color: rgb(67, 177, 42);
}

.table td, .table th {
    vertical-align: auto !important;
    padding:.5rem !important;
}

.td-points {
    font-weight:bold;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
    color: #666;
    font-size:80%;
    font-weight:600;
}

.tr-leader {
    background-color: #e4e4e4;
}

.tr-champions-league {
    background-color:#eee;
}

.tr-europa-league {
    background-color: #f8f8f8;
}

.tr-relegation {
    background-color: #eee;
}